@model PlaceSite.Models.Admin
@{
    ViewBag.Title = "AdminAdd";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h2>Add To User</h2>
<br />

<form class="form-group" method="post">
    @Html.LabelFor(x => x.UserName);
    @Html.TextBoxFor(x => x.UserName, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.Password);
    @Html.TextBoxFor(x => x.Password, new { @class = "form-control" })
    <br />
    <button class="btn btn-primary">Save</button>
</form>


